
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
/*   background-image: url("https://c4.wallpaperflare.com/wallpaper/47/418/526/henry-cavill-superman-shadow-lights-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  background-color: teal;
  color: #fff;

  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

a .portfolioLink {
  color: maroon;
  font-family: 'Itim', cursive;
  font-size: .5em;
}
