
body {
  background-image: url("https://th.bing.com/th/id/Rdba199807143dc9f88e9d27fa1c1f3c0?rik=aLjbOScwVjA52w&riu=http%3a%2f%2fpre03.deviantart.net%2f7d36%2fth%2fpre%2fi%2f2015%2f116%2fd%2f3%2fsuperman__classic__by_adilsantosa-d8r3r5j.jpg&ehk=J0zDCyY9gs%2fXMKfFPnzrNvoK82joBtFvLPpvwdvRfhU%3d&risl=&pid=ImgRaw");
  background-color: #000;
  color: #fff;

  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}
